# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [6]:
import requests
import bs4
import pandas as pd
import re
import lxml

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [90]:
# your code here
url = 'https://github.com/trending/developers'
response = requests.get(url)
html = response.content
parsed_content = bs4.BeautifulSoup(html, "html.parser")
#parsed_content

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (Á•ûÊ•ΩÂùÇË¶ö„ÄÖ)',
 'script-8']
 ```

In [9]:
# your code here
parsed_content_names_h1 = parsed_content.find_all('h1', {"class": "h3 lh-condensed"})
#parsed_content_names_h1[0].a.string
parsed_content_names_list = [i.a.string for i in parsed_content_names_h1]

parsed_content_names_list_cleaned = [re.sub("[^\w| ]","",i.strip()) for i in parsed_content_names_list]
#parsed_content_names_list_cleaned = [i.strip() for i in parsed_content_names_list]
parsed_content_names_list_cleaned

['Nuno Maduro',
 'Robert Mosolgo',
 'Jonny Borges',
 'Evan Bacon',
 'Frank Denis',
 'Alex Goodman',
 'Teemu R',
 'Nick Cabatoff',
 'Jan De Dobbeleer',
 'Jeremy Long',
 'Steven',
 'Stephen Celis',
 'Max Schmitt',
 'vnpy',
 'Jared Palmer',
 'Jacob Quinn',
 'Sindre Sorhus',
 'Florian Roth',
 'Michael Telatynski',
 'Geoff Bourne',
 'Guillaume Gomez',
 'Abiola Ibrahim',
 'Marc Rousavy',
 'Sergio Xalambr√≠',
 'Erik Hanchett']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
url_repo = 'https://github.com/trending/python?since=daily'

In [11]:
# your code here
response_html_repo = requests.get(url_repo).content
parsed_repo = bs4.BeautifulSoup(response_html_repo, "html.parser").find_all("h1", {"class": "h3 lh-condensed"})
parsed_repo_list = [i.a["href"].split("/")[2] for i in parsed_repo]
parsed_repo_list

['log4j-finder',
 'log4j-scan',
 'youtube-dl',
 'black',
 'python-miio',
 'PaddleSeg',
 'labelImg',
 'speechbrain',
 'OpenCore-Legacy-Patcher',
 'studynote',
 'mmdetection',
 'sentry',
 'log4shell-detector',
 'Pachine',
 'pytorch-lightning',
 'open_model_zoo',
 'log4jpwn',
 'content',
 'kornia',
 'jax',
 'L4sh',
 'mmaction2',
 'community-templates']

#### Display all the image links from Walt Disney wikipedia page.

In [12]:
# This is the url you will scrape in this exercise
url_walt_disney = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [13]:
# your code here
response_walt_disney = requests.get(url_walt_disney).content
parsed_walt_disney = bs4.BeautifulSoup(response_walt_disney,"html.parser").find_all("a", {"class": "image"})
parsed_walt_disney_list = [i.img["src"] for i in parsed_walt_disney]
parsed_walt_disney_list

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [14]:
# This is the url you will scrape in this exercise
url_wiki_py ='https://en.wikipedia.org/wiki/Python'

In [15]:
# your code here
response_wiki_py = requests.get(url_wiki_py).content
parsed_wiki_py = bs4.BeautifulSoup(response_wiki_py,"html.parser").find("div", {"id": "bodyContent"}).find_all("a")
parsed_wiki_py_list = [str(i.string)+ ": " + str(i["href"]) for i in parsed_wiki_py]
#parsed_wiki_py_list
def wiki_py(x):
    splited_0 = x.split(": ")[0]
    splited_1 = x.split(": ")[1]
    if "https:" in splited_1:
        return splited_0 + ": " + splited_1
    else:
        return splited_0 + ": https://en.wikipedia.org/wiki/Python" + splited_1
parsed_final_wiki_py_list = list(map(wiki_py,parsed_wiki_py_list))
parsed_final_wiki_py_list

['Jump to navigation: https://en.wikipedia.org/wiki/Python#mw-head',
 'Jump to search: https://en.wikipedia.org/wiki/Python#searchInput',
 'Python: https://en.wiktionary.org/wiki/Python',
 'python: https://en.wiktionary.org/wiki/python',
 'Pythonidae: https://en.wikipedia.org/wiki/Python/wiki/Pythonidae',
 'None: https://en.wikipedia.org/wiki/Python/wiki/Python_(genus)',
 'None: https://en.wikipedia.org/wiki/Python#Computing',
 'None: https://en.wikipedia.org/wiki/Python#People',
 'None: https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'None: https://en.wikipedia.org/wiki/Python#Vehicles',
 'None: https://en.wikipedia.org/wiki/Python#Weaponry',
 'None: https://en.wikipedia.org/wiki/Python#Other_uses',
 'None: https://en.wikipedia.org/wiki/Python#See_also',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=1',
 'Python (programming language): https://en.wikipedia.org/wiki/Python/wiki/Python_(programming_language)',
 'CMU Common Lisp: https://en.wikipedia.org/wiki/Python/wiki/CMU_Common_Lisp',
 'PERQ 3: https://en.wikipedia.org/wiki/Python/wiki/PERQ#PERQ_3',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=2',
 'Python of Aenus: https://en.wikipedia.org/wiki/Python/wiki/Python_of_Aenus',
 'Python (painter): https://en.wikipedia.org/wiki/Python/wiki/Python_(painter)',
 'Python of Byzantium: https://en.wikipedia.org/wiki/Python/wiki/Python_of_Byzantium',
 'Python of Catana: https://en.wikipedia.org/wiki/Python/wiki/Python_of_Catana',
 'Python Anghelo: https://en.wikipedia.org/wiki/Python/wiki/Python_Anghelo',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=3',
 'Python (Efteling): https://en.wikipedia.org/wiki/Python/wiki/Python_(Efteling)',
 'Python (Busch Gardens Tampa Bay): https://en.wikipedia.org/wiki/Python/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'Python (Coney Island, Cincinnati, Ohio): https://en.wikipedia.org/wiki/Python/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=4',
 'Python (automobile maker): https://en.wikipedia.org/wiki/Python/wiki/Python_(automobile_maker)',
 'Python (Ford prototype): https://en.wikipedia.org/wiki/Python/wiki/Python_(Ford_prototype)',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=5',
 'Python (missile): https://en.wikipedia.org/wiki/Python/wiki/Python_(missile)',
 'Python (nuclear primary): https://en.wikipedia.org/wiki/Python/wiki/Python_(nuclear_primary)',
 'Colt Python: https://en.wikipedia.org/wiki/Python/wiki/Colt_Python',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=6',
 'PYTHON: https://en.wikipedia.org/wiki/Python/wiki/PYTHON',
 'None: https://en.wikipedia.org/wiki/Python/wiki/Python_(film)',
 'Python (mythology): https://en.wikipedia.org/wiki/Python/wiki/Python_(mythology)',
 'Monty Python: https://en.wikipedia.org/wiki/Python/wiki/Monty_Python',
 'Python (Monty) Pictures: https://en.wikipedia.org/wiki/Python/wiki/Python_(Monty)_Pictures',
 'edit: https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit&section=7',
 'Cython: https://en.wikipedia.org/wiki/Python/wiki/Cython',
 'Pyton: https://en.wikipedia.org/wiki/Python/wiki/Pyton',
 'Pithon: https://en.wikipedia.org/wiki/Python/wiki/Pithon',
 'None: https://en.wikipedia.org/wiki/Python/wiki/File:Disambig_gray.svg',
 'disambiguation: https://en.wikipedia.org/wiki/Python/wiki/Help:Disambiguation',
 'internal link: https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1058841632: https://en.wikipedia.org/w/index.php?title=Python&oldid=1058841632',
 'Categories: https://en.wikipedia.org/wiki/Python/wiki/Help:Category',
 'Disambiguation pages: https://en.wikipedia.org/wiki/Python/wiki/Category:Disambiguation_pages',
 'Human name disambiguation pages: https://en.wikipedia.org/wiki/Python/wiki/Category:Human_name_disambiguation_pages',
 'Disambiguation pages with given-name-holder lists: https://en.wikipedia.org/wiki/Python/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'Disambiguation pages with short descriptions: https://en.wikipedia.org/wiki/Python/wiki/Category:Disambiguation_pages_with_short_descriptions',
 'Short description is different from Wikidata: https://en.wikipedia.org/wiki/Python/wiki/Category:Short_description_is_different_from_Wikidata',
 'All article disambiguation pages: https://en.wikipedia.org/wiki/Python/wiki/Category:All_article_disambiguation_pages',
 'All disambiguation pages: https://en.wikipedia.org/wiki/Python/wiki/Category:All_disambiguation_pages',
 'Animal common name disambiguation pages: https://en.wikipedia.org/wiki/Python/wiki/Category:Animal_common_name_disambiguation_pages']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [16]:
# This is the url you will scrape in this exercise 
url_usa = 'http://uscode.house.gov/download/download.shtml'

In [17]:
# UNTIL its last release point
response_usa = requests.get(url_usa).content
parsed_usa = bs4.BeautifulSoup(response_usa,"html.parser").find_all("div", {"class": "usctitle"})
#parsed_usa
parsed_usa_list = [str(i).split(">")[1].strip().split("<")[0].strip() for i in parsed_usa if "Title" in str(i)]
parsed_usa_list

['Title 1 - General Provisions',
 'Title 3 - The President',
 'Title 4 - Flag and Seal, Seat of Government, and the States',
 'Title 5 - Government Organization and Employees',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 9 - Arbitration',
 'Title 10 - Armed Forces',
 'Title 11 - Bankruptcy',
 'Title 12 - Banks and Banking',
 'Title 13 - Census',
 'Title 14 - Coast Guard',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights',
 'Title 18 - Crimes and Criminal Procedure',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 27 - Intoxicating Liquors',
 'Title 28 - Judiciary and Judicial Procedure',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance',
 'Title 32 - National Guard',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations',
 'Title 37 - Pay and Allowances of the Uniformed Services',
 "Title 38 - Veterans' Benefits",
 'Title 39 - Postal Service',
 'Title 40 - Public Buildings, Property, and Works',
 'Title 41 - Public Contracts',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents',
 'Title 45 - Railroads',
 'Title 46 - Shipping',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs',
 'Title 52 - Voting and Elections',
 'Title 53 [Reserved]',
 'Title 54 - National Park Service and Related Programs']

In [18]:
# SINCE its last release point
parsed_usa2 = bs4.BeautifulSoup(response_usa,"html.parser").find_all("div", {"class": "usctitlechanged"})
#parsed_usa
parsed_usa_list2 = [str(i).split(">")[1].strip().split("<")[0].strip() for i in parsed_usa2 if "Title" in str(i)]
parsed_usa_list2

['Title 2 - The Congress', 'Title 42 - The Public Health and Welfare']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [19]:
# This is the url you will scrape in this exercise
url_fbi = 'https://www.fbi.gov/wanted/topten'

In [20]:
# your code here
# your code here
response_fbi = requests.get(url_fbi).content
parsed_fbi = bs4.BeautifulSoup(response_fbi,"html.parser").find_all("div", {"class": "focuspoint"})
#parsed_fbi
parsed_fbi_list = [i.img["alt"] for i in parsed_fbi]
parsed_fbi_list

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN']

In [21]:
response_fbi = requests.get(url_fbi).content
parsed_fbi2 = bs4.BeautifulSoup(response_fbi,"html.parser").find_all("h3", {"class": "title"})
#parsed_fbi
parsed_fbi_list2 = [i.a.string for i in parsed_fbi2]
parsed_fbi_list2

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [22]:
# This is the url you will scrape in this exercise
url_eq= 'https://www.emsc-csem.org/Earthquake/'
response_eq = requests.get(url_eq).content

In [23]:
#eq_date_time
parsed_eq_date_time = bs4.BeautifulSoup(response_eq,"html.parser").find_all("td", {"class": "tabev6"})
parsed_eq_date_time
eq_date_time = [i.a.string.replace("\xa0\xa0\xa0"," ") for i in parsed_eq_date_time]
eq_date_time_len = [i for i in range(len(eq_date_time))]

In [24]:
# eq_latitude_and_log
parsed_eq_latitude_and_log = bs4.BeautifulSoup(response_eq,"html.parser").find_all("td", {"class": "tabev1"})
parsed_eq_latitude_and_log
eq_latitude_and_log = [i.string.replace("\xa0","") for i in parsed_eq_latitude_and_log]

eq_latitude = [eq_latitude_and_log[i] for i in range(len(eq_latitude_and_log)) if i%2==0]
eq_lon = [eq_latitude_and_log[i] for i in range(len(eq_latitude_and_log)) if i%2!=0]

In [25]:
#eq_region_name
parsed_eq_region_name = bs4.BeautifulSoup(response_eq,"html.parser").find_all("td", {"class": "tb_region"})
parsed_eq_region_name
eq_region_name = [i.string.replace("\xa0","") for i in parsed_eq_region_name]

In [26]:
eq_df = pd.DataFrame(eq_date_time, columns = ["date and time"])
eq_df["latitude"] = eq_latitude
eq_df["longitude"] = eq_lon
eq_df["region name"] = eq_region_name
eq_df.head()

           date and time latitude longitude                      region name
0  2021-12-16 12:07:13.5    18.85    155.22            HAWAII REGION, HAWAII
1  2021-12-16 12:04:30.2    19.20    155.46         ISLAND OF HAWAII, HAWAII
2  2021-12-16 12:02:46.8    45.29    167.27      SOUTH ISLAND OF NEW ZEALAND
3  2021-12-16 12:02:12.1    28.55     17.83     CANARY ISLANDS, SPAIN REGION
4  2021-12-16 12:01:54.7    35.40    179.17  OFF E. COAST OF N. ISLAND, N.Z.

In [27]:
#another way
eq_html_table = pd.read_html(url_eq)[3].iloc[:,[3,4,6,11]]
eq_html_table.columns=["date and time","latitude","longitude","region name"]
eq_html_table.head()

,date and time,latitude,longitude,region name
0,2021-12-16 12:07:13.512min ago,18.85,155.22,"HAWAII REGION, HAWAII"
1,2021-12-16 12:04:30.214min ago,19.20,155.46,"ISLAND OF HAWAII, HAWAII"
2,2021-12-16 12:02:46.816min ago,45.29,167.27,SOUTH ISLAND OF NEW ZEALAND
3,2021-12-16 12:02:12.117min ago,28.55,17.83,"CANARY ISLANDS, SPAIN REGION"
4,2021-12-16 12:01:54.717min ago,35.40,179.17,"OFF E. COAST OF N. ISLAND, N.Z."

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

API DE TWITTER
https://docs.tweepy.org/en/stable/api.html

URL UTIL PARA SCRAPPING DE TWITTER:
https://www.geeksforgeeks.org/extraction-of-tweets-using-tweepy/?ref=lbp

URL UTIL 2 PARA SCRAPPING DE TWITTER:
https://towardsdatascience.com/how-to-scrape-tweets-from-twitter-59287e20f0f1

### NO TENGO CREDENCIALES AS√ç QUE LAS SIGUIENTES CELDAS DAR√ÅN ERROR, PERO MAS ADELANTE HAY UNA FORMA DE SCRAPEAR SIN CREDENCIALES

In [28]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
tw1_acc = input('Enter a user of a Twitter account: ')

Enter a user of a Twitter account: MenudosMenudos

In [29]:
# Tweepy
import tweepy
from tweepy import OAuthHandler

consumer_key = "BwJM1UhLWrJjD4c5IJc4JAOJB"
consumer_secret = "mgYy8VkJg15b26aqTQeLbOQ4a4XTuzXe9GYZNToSUSthCO4RSS"
access_token = "829330535663202306-VNTWjxUTslxZvwEClgN6fjdAruumBGo"
access_token_secret = "okQijywH0bSpzgDemHfTDcDJ89UwBvjIBYc5l9AXZBDZU"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

#### Method 1

In [30]:
username = tw1_acc
try:
    st_count = api.get_user(screen_name=username).statuses_count
    print("Number of tweets is:",str(st_count))
except:
    print("Error")

Error

#### Method 2

In [31]:
#creo que est√° mal, pero no lo puedo comprobar sin credenciales
try:
    tweets1 = tweepy.Cursor(api.user_timeline,screen_name=username).items()
    tweets1_list = [[tweet1.screen_name, tweet1.statuses_count] for tweet1 in tweets1]
    tweets1_df = pd.DataFrame(tweets1_list)
except:
    print("Error")

Error

### method 3: forma de acerlo sin credenciales (en el bonus lo pongo mas detallado)

In [89]:
user_random_name = "Alvarosaez396" #este no soy yo, es un usuario que vi que tenia pocos tweets

scraped_tweets = sntwitter.TwitterSearchScraper('from:'+user_random_name).get_items()
df_Alvarosaez396 = pd.DataFrame(scraped_tweets)[['date', 'id', 'content', 'username']]
display(df_Alvarosaez396)

print("number of tweets of @" + user_random_name, len(df_Alvarosaez396))

,date,id,content,username
0,2021-12-14 01:22:54+00:00,1470564922983477248,¬°El gran ganador de la jornada! @gabrielboric ...,Alvarosaez396
1,2021-12-04 01:14:11+00:00,1466938851562115077,#Teleton2021 el n√∫mero 1 ü•áüèÜ https://t.co/Izwwz...,Alvarosaez396
2,2021-12-01 18:27:17+00:00,1466111674998575107,"Gracias, @coldplay, por pasar 5,070 minutos co...",Alvarosaez396
3,2021-12-01 10:37:33+00:00,1465993464944889863,Por algo alguien de derecha est√° pidiendo que ...,Alvarosaez396
4,2021-12-01 10:32:52+00:00,1465992284487315462,üôåüèª‚ù§Ô∏è https://t.co/vz2HYrjNxt,Alvarosaez396
5,2021-11-30 00:53:59+00:00,1465484216909668352,"Si nos vamos a la cifras concretas, Lewandoski...",Alvarosaez396
6,2021-11-30 00:52:34+00:00,1465483859483447301,"Sin lugar a duda, Messi es uno de los mejores ...",Alvarosaez396

number of tweets of @Alvarosaez396 7

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [32]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
tw2_acc = input('Enter a user of a Twitter account: ')

Enter a user of a Twitter account: MenudosMenudos

In [33]:
# your code here
username2 = tw2_acc
try:
    fll_count = api.get_user(screen_name=username2).followers_count
    print("Number of followers is:",str(fll_count))
except:
    print("Error")

Error

#### other method

In [34]:
try:
    fll_count2 = api.get_followers(screen_name=username2)
    print("Number of followers is:",str(len(fll_count2)))
except:
    print("Error")

Error

#### other method

In [35]:
#creo que est√° mal, pero no lo puedo comprobar sin credenciales
try:
    for user_fl in tweepy.Cursor(api.followers, screen_name=tw2_acc).items():
        print(user_fl.screen_name, user_fl.followers_count)
except:
    print("Error")

Error

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [36]:
# This is the url you will scrape in this exercise
url_wk = 'https://www.wikipedia.org/'
response_wk = requests.get(url_wk).content

In [37]:
# your code here .replace("\xa0\xa0\xa0"," ")
parsed_wk = bs4.BeautifulSoup(response_wk,"html.parser").find_all("div", {"class": "central-featured-lang"})
parsed_wk
parsed_wk_list = [i.a.strong.string + ": " + i.a.bdi.string.replace("\xa0",".") + " " + i.a.span.string for i in parsed_wk]
parsed_wk_list

['English: 6.383.000+ articles',
 'Êó•Êú¨Ë™û: 1.292.000+ Ë®ò‰∫ã',
 '–†—É—Å—Å–∫–∏–π: 1.756.000+ —Å—Ç–∞—Ç–µ–π',
 'Deutsch: 2.617.000+ Artikel',
 'Espa√±ol: 1.717.000+ art√≠culos',
 'Fran√ßais: 2.362.000+ articles',
 '‰∏≠Êñá: 1.231.000+ Ê¢ùÁõÆ',
 'Italiano: 1.718.000+ voci',
 'Portugu√™s: 1.074.000+ artigos',
 'Polski: 1.490.000+ hase≈Ç']

#### A list with the different kind of datasets available in data.gov.uk.

In [38]:
# This is the url you will scrape in this exercise
url_ds = 'https://data.gov.uk/'
response_ds = requests.get(url_ds).content

In [39]:
# your code here
parsed_ds = bs4.BeautifulSoup(response_ds,"html.parser").find_all("h3", {"class": "govuk-heading-s dgu-topics__heading"})
parsed_ds
parsed_ds_list = [i.a.string for i in parsed_ds]
parsed_ds_list

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [40]:
# This is the url you will scrape in this exercise
url_top10 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
response_top10 = requests.get(url_top10).content

In [41]:
# your code here
parsed_top10 = bs4.BeautifulSoup(response_top10,"html.parser").find_all("table", {"class": "wikitable sortable"})[1].tbody.find_all("a")
parsed_top10
parsed_top10_list = [i.string for i in parsed_top10 if i.string!="[a]"][:10]
parsed_top10_list

['Mandarin',
 'Spanish',
 'English',
 'Hindi',
 'Arabic',
 'Portuguese',
 'Bengali',
 'Russian',
 'Japanese',
 'Punjabi']

In [42]:
parsed_top10_ns = bs4.BeautifulSoup(response_top10,"html.parser").find_all("table", {"class": "wikitable sortable"})[1].tbody.find_all("td")
parsed_top10_ns
parsed_top10_list_ns = [i.string for i in parsed_top10_ns  if "(" in str(i.string)][:10]
parsed_top10_list_ns

['935 (955)',
 '390 (405)',
 '365 (360)',
 '295 (310)',
 '280 (295)',
 '205 (215)',
 '200 (205)',
 '160 (155)',
 '125 (125)',
 '95 (100)']

In [43]:
parsed_top10_df = pd.DataFrame({"language":parsed_top10_list, "native speakers in millions 2007 (2010)":parsed_top10_list_ns})
parsed_top10_df

     language native speakers in millions 2007 (2010)
0    Mandarin                               935 (955)
1     Spanish                               390 (405)
2     English                               365 (360)
3       Hindi                               295 (310)
4      Arabic                               280 (295)
5  Portuguese                               205 (215)
6     Bengali                               200 (205)
7     Russian                               160 (155)
8    Japanese                               125 (125)
9     Punjabi                                95 (100)

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

### NO TENGO CREDENCIALES AS√ç QUE LAS SIGUIENTES CELDAS DAR√ÅN ERROR, PERO MAS ADELANTE HAY UNA FORMA DE SCRAPEAR SIN CREDENCIALES

In [44]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [45]:
# REFERENCIAS PARA CREAR EL LISTADO --> https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet

tw3_acc = input('Enter a user of a Twitter account: ')
username = tw3_acc
#count = 100
try:
    tweets3 = api.user_timeline(screen_name=username,include_rts=False)
    tweets3_list = [[tweet3.screen_name, tweet3.created_at, tweet3.text] for tweet3 in tweets3]
    tweets3_df = pd.DataFrame(tweets3_list)
except:
    print("Error")

Enter a user of a Twitter account: MenudosMenudos
Error

#### other method

In [46]:
count = 150
try:
    tweets4 = tweepy.Cursor(api.user_timeline,screen_name=username).items(count)
    tweets4_list = [[tweet4.created_at, tweet4.id, tweet4.text] for tweet4 in tweets4]
    tweets4_df = pd.DataFrame(tweets_list4)
except:
    print("Error")

Error

#### OTRO MODO DE SCRAPEAR TWITTER SIN CREDENCIALES

In [47]:
import snscrape.modules.twitter as sntwitter
tw2_acc = input('Enter a user of a Twitter account: ')

# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for tweet in sntwitter.TwitterSearchScraper('from:'+tw2_acc).get_items(): #declare a username 
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
display(tweets_df1)

print("number of tweets of " + tw1_acc, len(tweets_df1))

Enter a user of a Twitter account: MenudosMenudos

,Datetime,Tweet Id,Text,Username
0,2021-12-15 20:30:00+00:00,1471215988762890251,La primera fase de la campa√±a de #vacunaci√≥n d...,MenudosMenudos
1,2021-12-13 20:00:00+00:00,1470483664152657920,"Estas fiestas, ¬°nuestros ositos felices vuelv...",MenudosMenudos
2,2021-12-13 14:00:14+00:00,1470393126036586497,"Desde marzo de 2020, nuestro blog, galardonado...",MenudosMenudos
3,2021-12-13 12:30:00+00:00,1470370417491775494,¬°Nuestro trabajo sobre coronavirus y #cardiopa...,MenudosMenudos
4,2021-12-12 11:00:01+00:00,1469985383853215744,"Se acercan las fiestas navide√±as y, con ellas,...",MenudosMenudos
...,...,...,...,...
3666,2011-10-09 08:08:48+00:00,122946602057990144,Carrera larga a punto de empezar! 200 bicis! H...,MenudosMenudos
3667,2011-10-09 06:55:21+00:00,122928117571534848,Gracias a los 50 voluntarios que estan en el p...,MenudosMenudos
3668,2011-10-07 11:31:56+00:00,122272944461320192,@fundinocente ¬°GRACIAS!,MenudosMenudos
3669,2011-10-06 11:15:24+00:00,121906396785688576,"Este domingo, en el pinar de las rozas #Menudo...",MenudosMenudos
3670,2011-10-06 11:03:50+00:00,121903484932067328,@familiaymujer @campamentosINFO mil gracias x ...,MenudosMenudos

number of tweets of MenudosMenudos 3671

##### voy a hacer pruebas con un usuario que me he encontrado que tiene mi nombre y solo ha puesto 6 tweets

In [59]:
user_random_name = "Alvarosaez396"

# Creating list to append tweet data 
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for tweetalv in sntwitter.TwitterSearchScraper('from:'+user_random_name).get_items(): #declare a username 
    tweets_list2.append([tweetalv.date, tweetalv.id, tweetalv.content, tweetalv.username]) #declare the attributes to be returned
    
# Creating a dataframe from the tweets list above 
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
display(tweets_df2)

,Datetime,Tweet Id,Text,Username
0,2021-12-14 01:22:54+00:00,1470564922983477248,¬°El gran ganador de la jornada! @gabrielboric ...,Alvarosaez396
1,2021-12-04 01:14:11+00:00,1466938851562115077,#Teleton2021 el n√∫mero 1 ü•áüèÜ https://t.co/Izwwz...,Alvarosaez396
2,2021-12-01 18:27:17+00:00,1466111674998575107,"Gracias, @coldplay, por pasar 5,070 minutos co...",Alvarosaez396
3,2021-12-01 10:37:33+00:00,1465993464944889863,Por algo alguien de derecha est√° pidiendo que ...,Alvarosaez396
4,2021-12-01 10:32:52+00:00,1465992284487315462,üôåüèª‚ù§Ô∏è https://t.co/vz2HYrjNxt,Alvarosaez396
5,2021-11-30 00:53:59+00:00,1465484216909668352,"Si nos vamos a la cifras concretas, Lewandoski...",Alvarosaez396
6,2021-11-30 00:52:34+00:00,1465483859483447301,"Sin lugar a duda, Messi es uno de los mejores ...",Alvarosaez396

In [63]:
#viendo lo que hay dentro del df se podr√≠a simplicaficar a la siguiente forma
user_random_name = "Alvarosaez396"

scraped_tweets = sntwitter.TwitterSearchScraper('from:'+user_random_name).get_items()
df_Alvarosaez396 = pd.DataFrame(scraped_tweets)[['date', 'id', 'content', 'username']]
df_Alvarosaez396

,date,id,content,username
0,2021-12-14 01:22:54+00:00,1470564922983477248,¬°El gran ganador de la jornada! @gabrielboric ...,Alvarosaez396
1,2021-12-04 01:14:11+00:00,1466938851562115077,#Teleton2021 el n√∫mero 1 ü•áüèÜ https://t.co/Izwwz...,Alvarosaez396
2,2021-12-01 18:27:17+00:00,1466111674998575107,"Gracias, @coldplay, por pasar 5,070 minutos co...",Alvarosaez396
3,2021-12-01 10:37:33+00:00,1465993464944889863,Por algo alguien de derecha est√° pidiendo que ...,Alvarosaez396
4,2021-12-01 10:32:52+00:00,1465992284487315462,üôåüèª‚ù§Ô∏è https://t.co/vz2HYrjNxt,Alvarosaez396
5,2021-11-30 00:53:59+00:00,1465484216909668352,"Si nos vamos a la cifras concretas, Lewandoski...",Alvarosaez396
6,2021-11-30 00:52:34+00:00,1465483859483447301,"Sin lugar a duda, Messi es uno de los mejores ...",Alvarosaez396

In [85]:
#ejercicio con una busqued y qued√°ndonos con 100 tweets
import itertools
pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper("atleti").get_items(), 10))

,url,date,content,id,username,outlinks,outlinksss,tcooutlinks,tcooutlinksss
0,https://twitter.com/JosCarl38551128/status/147...,2021-12-16 14:12:25+00:00,"@Atleti @HHerreramex @Koke6 Est√°n contentos, h...",1471483356021932037,JosCarl38551128,[],,[],
1,https://twitter.com/facundosxx/status/14714833...,2021-12-16 14:12:15+00:00,@Atleti contratar dybala y pau torres,1471483311784611857,facundosxx,[],,[],
2,https://twitter.com/atletico_stats/status/1471...,2021-12-16 14:12:11+00:00,üó£Ô∏è¬øùêéùê¨ ùêØùêö ùêúùê®ùêßùêØùêûùêßùêúùê¢ùêûùêßùêùùê® ùê¶ùêöùê¨ ùêãùêãùêéùêëùêÑùêçùêìùêÑ ùêûùêß ùêãùêì?\n\nC...,1471483298396446723,atletico_stats,[],,[],
3,https://twitter.com/IvanBlanco_26/status/14714...,2021-12-16 14:11:59+00:00,Hay gente realmente rid√≠cula y luego est√°n los...,1471483247850921986,IvanBlanco_26,[],,[],
4,https://twitter.com/Cuervocripto/status/147148...,2021-12-16 14:11:57+00:00,@diegoperez1903 @FriasYali @Atleti @agueroserg...,1471483236773621763,Cuervocripto,[],,[],
5,https://twitter.com/jwIiana/status/14714830834...,2021-12-16 14:11:20+00:00,@Vinirmfc6 acho que v√£o acabar paralisando as ...,1471483083446759430,jwIiana,[],,[],
6,https://twitter.com/ATM___1903__/status/147148...,2021-12-16 14:11:15+00:00,@FranjasRb @Pablo_Gaizka Costa compadre√≥ con e...,1471483063758635016,ATM___1903__,[],,[],
7,https://twitter.com/Te_Vigilo_/status/14714830...,2021-12-16 14:11:06+00:00,Resumen de lo que oigo en #TheTinglao:\nAtleti...,1471483023371784201,Te_Vigilo_,[],,[],
8,https://twitter.com/unadel2/status/14714829653...,2021-12-16 14:10:52+00:00,@portigianni @soliszgz Por lo de los Chichos l...,1471482965326708736,unadel2,[],,[],
9,https://twitter.com/JosefaPedrerol/status/1471...,2021-12-16 14:10:44+00:00,@partidazocope @LaLiga @realmadrid @Atleti ¬°Ol...,1471482931197751297,JosefaPedrerol,[],,[],

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [49]:
# This is the url you will scrape in this exercise 
url_imdb250 = 'https://www.imdb.com/chart/top'
response_imdb250 = requests.get(url_imdb250).content

In [50]:
# your code here
parsed_imdb250_name = bs4.BeautifulSoup(response_imdb250,"html.parser").find_all("table", {"class": "chart full-width"})[0].find_all("a")
parsed_imdb250_name_list = [i.string for i in parsed_imdb250_name if i.string !=None]

parsed_imdb250_href = bs4.BeautifulSoup(response_imdb250,"html.parser").find_all("table", {"class": "chart full-width"})[0].find_all("a")
parsed_imdb250_href_list = ["https://www.imdb.com/"+i["href"] for i in parsed_imdb250_href if i.string !=None]

parsed_imdb250_director = bs4.BeautifulSoup(response_imdb250,"html.parser").find_all("table", {"class": "chart full-width"})[0].find_all("a")
parsed_imdb250_director_list = [i["title"].split("(dir.)")[0].strip() for i in parsed_imdb250_director if i.string !=None]

parsed_imdb250_year = bs4.BeautifulSoup(response_imdb250,"html.parser").find_all("table", {"class": "chart full-width"})[0].find_all("span")
parsed_imdb250_year_list = [i.string for i in parsed_imdb250_year if i.string !=None and i.string !="\xa0" ]

parsed_imdb250_stars = bs4.BeautifulSoup(response_imdb250,"html.parser").find_all("td", {"class": "ratingColumn imdbRating"})
parsed_imdb250_stars_list = [i.strong.string for i in parsed_imdb250_stars]

parsed_imdb250_df = pd.DataFrame({"movie name":parsed_imdb250_name_list, "initial release":parsed_imdb250_year_list,"director name":parsed_imdb250_director_list,"stars":parsed_imdb250_stars_list,"url":parsed_imdb250_href_list})
parsed_imdb250_df

,movie name,initial release,director name,stars,url
0,Cadena perpetua,(1994),Frank Darabont,9.2,https://www.imdb.com//title/tt0111161/
1,El padrino,(1972),Francis Ford Coppola,9.1,https://www.imdb.com//title/tt0068646/
2,El padrino: Parte II,(1974),Francis Ford Coppola,9.0,https://www.imdb.com//title/tt0071562/
3,El caballero oscuro,(2008),Christopher Nolan,9.0,https://www.imdb.com//title/tt0468569/
4,12 hombres sin piedad,(1957),Sidney Lumet,8.9,https://www.imdb.com//title/tt0050083/
...,...,...,...,...,...
245,Las noches de Cabiria,(1957),Federico Fellini,8.0,https://www.imdb.com//title/tt0050783/
246,La princesa prometida,(1987),Rob Reiner,8.0,https://www.imdb.com//title/tt0093779/
247,"Paris, Texas",(1984),Wim Wenders,8.0,https://www.imdb.com//title/tt0087884/
248,Tres colores: Rojo,(1994),Krzysztof Kieslowski,8.0,https://www.imdb.com//title/tt0111495/
249,Drishyam,(2013),Jeethu Joseph,8.0,https://www.imdb.com//title/tt3417422/

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [51]:
#This is the url you will scrape in this exercise
#url = 'http://www.imdb.com/chart/top'

In [52]:
# your code here
parsed_imdb250_df_random = parsed_imdb250_df.sample(10)
parsed_imdb250_df_random_final = parsed_imdb250_df_random[["movie name","initial release","url"]]
parsed_imdb250_df_random_final

,movie name,initial release,url
62,Testigo de cargo,(1957),https://www.imdb.com//title/tt0051201/
164,Fresas salvajes,(1957),https://www.imdb.com//title/tt0050986/
53,Memento,(2000),https://www.imdb.com//title/tt0209144/
92,Taare Zameen Par,(2007),https://www.imdb.com//title/tt0986264/
229,Rebeca,(1940),https://www.imdb.com//title/tt0032976/
28,La milla verde,(1999),https://www.imdb.com//title/tt0120689/
47,Casablanca,(1942),https://www.imdb.com//title/tt0034583/
81,Amadeus,(1984),https://www.imdb.com//title/tt0086879/
182,Mi padre y mi hijo,(2005),https://www.imdb.com//title/tt0476735/
98,¬°Olv√≠date de m√≠!,(2004),https://www.imdb.com//title/tt0338013/

In [53]:
parsed_imdb250_df_random_final_url = parsed_imdb250_df_random_final["url"]

brief_imdb250_random_list = [bs4.BeautifulSoup(requests.get(i).content,"html.parser").find_all("span", {"class": "GenresAndPlot__TextContainerBreakpointL-cum89p-1 gwuUFD"}) for i in parsed_imdb250_df_random_final_url]
brief_imdb250_random_list_final = [i[0].string for i in brief_imdb250_random_list]

In [54]:
parsed_imdb250_df_random_final["brief"] = brief_imdb250_random_list_final
parsed_imdb250_df_random_final

C:\Users\AlvaroSaez\miniconda3\envs\ironhack\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,movie name,initial release,url,brief
62,Testigo de cargo,(1957),https://www.imdb.com//title/tt0051201/,A veteran British barrister must defend his cl...
164,Fresas salvajes,(1957),https://www.imdb.com//title/tt0050986/,"After living a life marked by coldness, an agi..."
53,Memento,(2000),https://www.imdb.com//title/tt0209144/,A man with short-term memory loss attempts to ...
92,Taare Zameen Par,(2007),https://www.imdb.com//title/tt0986264/,An eight-year-old boy is thought to be a lazy ...
229,Rebeca,(1940),https://www.imdb.com//title/tt0032976/,A self-conscious woman juggles adjusting to he...
28,La milla verde,(1999),https://www.imdb.com//title/tt0120689/,The lives of guards on Death Row are affected ...
47,Casablanca,(1942),https://www.imdb.com//title/tt0034583/,A cynical expatriate American cafe owner strug...
81,Amadeus,(1984),https://www.imdb.com//title/tt0086879/,"The life, success and troubles of Wolfgang Ama..."
182,Mi padre y mi hijo,(2005),https://www.imdb.com//title/tt0476735/,The family of a left-wing journalist is torn a...
98,¬°Olv√≠date de m√≠!,(2004),https://www.imdb.com//title/tt0338013/,"When their relationship turns sour, a couple u..."

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [55]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city: madrid

#### Find the book name, price and stock availability as a pandas dataframe.

In [57]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url_books = 'http://books.toscrape.com/'
response_books = requests.get(url_books).content

In [58]:
# your code here
parsed_books_name = bs4.BeautifulSoup(response_books,"html.parser").find_all("ol", {"class": "row"})[0].find_all("article")
parsed_books_name_list = [i.h3.a["title"] for i in parsed_books_name]

parsed_books_price = bs4.BeautifulSoup(response_books,"html.parser").find_all("p", {"class": "price_color"})
parsed_books_price_list = [i.string for i in parsed_books_price]

parsed_books_stock = bs4.BeautifulSoup(response_books,"html.parser").find_all("p", {"class": "instock availability"})
parsed_books_stock_list = [i.text.strip() for i in parsed_books_stock]

parsed_books_df = pd.DataFrame({"book name":parsed_books_name_list, "price":parsed_books_price_list,"stock availability":parsed_books_stock_list})
parsed_books_df

,book name,price,stock availability
0,A Light in the Attic,¬£51.77,In stock
1,Tipping the Velvet,¬£53.74,In stock
2,Soumission,¬£50.10,In stock
3,Sharp Objects,¬£47.82,In stock
4,Sapiens: A Brief History of Humankind,¬£54.23,In stock
5,The Requiem Red,¬£22.65,In stock
6,The Dirty Little Secrets of Getting Your Dream...,¬£33.34,In stock
7,The Coming Woman: A Novel Based on the Life of...,¬£17.93,In stock
8,The Boys in the Boat: Nine Americans and Their...,¬£22.60,In stock
9,The Black Maria,¬£52.15,In stock
10,"Starving Hearts (Triangular Trade Trilogy, #1)",¬£13.99,In stock
11,Shakespeare's Sonnets,¬£20.66,In stock
12,Set Me Free,¬£17.46,In stock
13,Scott Pilgrim's Precious Little Life (Scott Pi...,¬£52.29,In stock
14,Rip it Up and Start Again,¬£35.02,In stock
15,Our Band Could Be Your Life: Scenes from the A...,¬£57.25,In stock
16,Olio,¬£23.88,In stock
17,Mesaerion: The Best Science Fiction Stories 18...,¬£37.59,In stock
18,Libertarianism for Beginners,¬£51.33,In stock
19,It's Only the Himalayas,¬£45.17,In stock