## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [48]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [49]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

len(sample_list_1)

[32, 59, 36, 40, 68, 66, 9, 93, 17, 33, 29, 4, 30, 23, 94, 60, 42, 7, 3, 91, 56, 88, 11, 18, 44, 81, 31, 19, 76, 97, 69, 43, 64, 39, 72, 67, 95, 25, 55, 58, 14, 20, 83, 6, 62, 80, 37, 57, 27, 99, 10, 79, 78, 50, 49, 92, 35, 0, 26, 24, 22, 74, 12, 8, 53, 75, 71, 47, 98, 85, 21, 5, 52, 73, 28, 61, 82, 51, 48, 63]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [50]:
# Your code here
set1 = set(sample_list_1)
print(set1)

len(set1)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 88, 91, 92, 93, 94, 95, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [51]:
# Your code here
sample_list_2 = random.sample(range(100),50)
for i in range(100):
    if i in sample_list_2 and len(sample_list_2) < 80:
        sample_list_2.append(i)
print(sample_list_2)

len(sample_list_2)

#other way
alvaro_list=[]
for i in range(80):
    alvaro_list.append(random.sample(range(100),1))
print("\n\nother test\n",alvaro_list)

[0, 93, 54, 17, 30, 21, 5, 35, 32, 25, 15, 91, 18, 99, 66, 36, 2, 6, 63, 80, 83, 78, 64, 45, 60, 75, 37, 29, 16, 77, 81, 14, 41, 52, 51, 31, 1, 4, 85, 12, 72, 33, 57, 24, 65, 76, 97, 46, 79, 98, 0, 1, 2, 4, 5, 6, 12, 14, 15, 16, 17, 18, 21, 24, 25, 29, 30, 31, 32, 33, 35, 36, 37, 41, 45, 46, 51, 52, 54, 57]


other test
 [[6], [71], [22], [35], [43], [27], [96], [36], [0], [44], [77], [57], [28], [88], [80], [48], [17], [0], [75], [67], [40], [35], [95], [25], [59], [69], [49], [43], [38], [26], [41], [66], [31], [6], [67], [26], [14], [56], [59], [67], [76], [59], [84], [73], [77], [70], [81], [34], [80], [96], [84], [6], [19], [86], [14], [15], [85], [15], [99], [69], [77], [15], [34], [28], [45], [71], [2], [51], [49], [18], [71], [49], [3], [96], [6], [0], [84], [97], [98], [24]]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [52]:
# Your code here
set2 = set(sample_list_2)
print(set2)

len(set2)

{0, 1, 2, 4, 5, 6, 12, 14, 15, 16, 17, 18, 21, 24, 25, 29, 30, 31, 32, 33, 35, 36, 37, 41, 45, 46, 51, 52, 54, 57, 60, 63, 64, 65, 66, 72, 75, 76, 77, 78, 79, 80, 81, 83, 85, 91, 93, 97, 98, 99}

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [53]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{3, 7, 8, 9, 10, 11, 19, 20, 22, 23, 26, 27, 28, 39, 40, 42, 43, 44, 47, 48, 49, 50, 53, 55, 56, 58, 59, 61, 62, 67, 68, 69, 71, 73, 74, 82, 88, 92, 94, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [54]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{1, 2, 65, 41, 45, 46, 15, 16, 77, 54}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [55]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 4, 5, 6, 12, 14, 17, 18, 21, 24, 25, 29, 30, 31, 32, 33, 35, 36, 37, 51, 52, 57, 60, 63, 64, 66, 72, 75, 76, 78, 79, 80, 81, 83, 85, 91, 93, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [56]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# Your code here
    #set3 comes from difference between 1 and 2
    #set4 comes from difference between 2 and 1
    #set5 comes from intersection between 1 and 2
    
#we will store the lenght in new variables to calculate their relationship with some statistics methods
len_set1 = len(set1)
len_set2 = len(set2)
len_set3 = len(set3)
len_set4 = len(set4)
len_set5 = len(set5)

import numpy as np

mean_sets = np.mean([len_set1, len_set2, len_set3, len_set4, len_set5])
print("mean of sets is: ",mean_sets)

var_sets = np.var([len_set1, len_set2, len_set3, len_set4, len_set5])
print("variance of sets is: ",var_sets)

std_sets = np.std([len_set1, len_set2, len_set3, len_set4, len_set5])
print("standard deviation of sets is: ",std_sets)

80
50
40
10
40
mean of sets is:  44.0
variance of sets is:  504.0
standard deviation of sets is:  22.44994432064365

#### Create an empty set called `set6`.

In [57]:
# Your code here
#set3 comes from 1 and 2
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [58]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)
len(set6)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 88, 91, 92, 93, 94, 95, 97, 98, 99}

80

#### Check if `set1` and `set6` are equal.

In [59]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [62]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [65]:
# Your code here
union_set= set3.union(set1, set2, set3, set4, set5)
print(union_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 88, 91, 92, 93, 94, 95, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
# Your code here
#pop method is just to remove a random element
for i in range(0,1):
    set1.pop()
print(set1)

{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 88, 91, 92, 93, 94, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i in list_to_remove:
        list_to_remove.remove(i)
print(list_to_remove)

[1, 41, 89]